@model IEnumerable<e_Book.Models.Book>


@{ ViewBag.Title = "Books"; }

<div class="container">
    <div class="row mb-4">
        <!-- שדה חיפוש -->
        <div class="col-md-6">
            <form action="@Url.Action("Search", "Books")" method="get" class="form-inline">
                <input type="text" name="query" placeholder="חפש ספר לפי שם, מחבר או הוצאה לאור..." class="form-control mr-2" />
                <button type="submit" class="btn btn-primary">חפש</button>
            </form>
        </div>
    </div>
</div>

<!-- הודעות שגיאה , הצלחה ומידע -->
@if (TempData["Info"] != null)
{
    <div class="alert alert-info" id="message-box">@TempData["Info"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" id="message-box">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" id="message-box">@TempData["Success"]</div>
}

<div class="d-flex flex-wrap justify-content-center mb-4">
    <a href="@Url.Action("FilterDiscountedBooks", "Books")" class="btn btn-primary mx-1 mb-2">ספרים בהנחה</a>
    <a href="@Url.Action("Sort", "Books", new { sortBy = "price_asc" })" class="btn btn-primary mx-1 mb-2">מחיר - מהנמוך לגבוה</a>
    <a href="@Url.Action("Sort", "Books", new { sortBy = "price_desc" })" class="btn btn-primary mx-1 mb-2">מחיר - מהגבוה לנמוך</a>
    <a href="@Url.Action("Sort", "Books", new { sortBy = "year" })" class="btn btn-primary mx-1 mb-2">שנה - מהחדשה לישנה</a>
    <a href="@Url.Action("Sort", "Books", new { sortBy = "year_asc" })" class="btn btn-primary mx-1 mb-2">שנה - מהישנה לחדשה</a>
    <a href="@Url.Action("Sort", "Books", new { sortBy = "popularity" })" class="btn btn-primary mx-1 mb-2">הכי פופולרי</a>


    <!-- Dropdown לסינון לפי טווח מחירי קנייה -->
    <div class="btn-group mx-1 mb-2">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            סינון לפי מחיר קניה
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Action("Filter", "Books", new { minPrice = 0, maxPrice = 50 })">מחיר עד 50₪</a>
            <a class="dropdown-item" href="@Url.Action("Filter", "Books", new { minPrice = 50, maxPrice = 100 })">מחיר 50₪ - 100₪</a>
            <a class="dropdown-item" href="@Url.Action("Filter", "Books", new { minPrice = 100 })">מחיר מעל 100₪</a>
        </div>
    </div>

    <!-- Dropdown לסינון לפי טווח מחירי השאלה -->
    <div class="btn-group mx-1 mb-2">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            סינון לפי מחיר השאלה
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Action("FilterByBorrowPrice", "Books", new { minPrice = 0, maxPrice = 20 })">מחיר עד 20₪</a>
            <a class="dropdown-item" href="@Url.Action("FilterByBorrowPrice", "Books", new { minPrice = 20, maxPrice = 50 })">מחיר 20₪ - 50₪</a>
            <a class="dropdown-item" href="@Url.Action("FilterByBorrowPrice", "Books", new { minPrice = 50 })">מחיר מעל 50₪</a>
        </div>
    </div>

    <!-- Dropdown לסינון לפי ז'אנר -->
    <div class="btn-group mx-1 mb-2">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            סינון לפי ז'אנר
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "רומנטיקה" })">רומנטיקה</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "אקשן" })">אקשן</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "דרמה" })">דרמה</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "קומדיה" })">קומדיה</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "מתח" })">מתח</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "מדע בדיוני" })">מדע בדיוני</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "פנטזיה" })">פנטזיה</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "אימה" })">אימה</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "הרפתקאות" })">הרפתקאות</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "היסטורי" })">היסטורי</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "ביוגרפיה" })">ביוגרפיה</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "בלש" })">בלש</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "חינוך" })">חינוך</a>
            <a class="dropdown-item" href="@Url.Action("FilterByGenre", "Books", new { genre = "שירה" })">שירה</a>
        </div>
    </div>

    <!-- סינון לפי זמינות -->
    <a href="@Url.Action("FilterByAvailability", "Books", new { availability = "buy" })" class="btn btn-primary mx-1 mb-2">ספרים לקנייה בלבד</a>
    <a href="@Url.Action("FilterByAvailability", "Books", new { availability = "borrow" })" class="btn btn-primary mx-1 mb-2">ספרים להשאלה </a>

</div>


<div class="books-title-container">
    <h3 class="custom-title">BOOKS</h3>
</div>



<p>
    @Html.ActionLink("הוספת ספר חדש", "Create")
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Title" style="height: 250px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                            <strong>מחבר:</strong> @item.Author<br />
                            <strong>הוצאה:</strong> @item.Publisher<br />
                            <strong>הגבלת גיל:</strong> @item.AgeRestriction<br />
                            <strong>מחיר קנייה:</strong>
                            @if (item.PreviousPrice.HasValue && item.DiscountEndDate.HasValue && item.DiscountEndDate > DateTime.Now)
                            {
                                <span style="text-decoration: line-through; color: red;">
                                    @item.PreviousPrice.Value.ToString("C")
                                </span>
                                <span style="font-weight: bold; color: green;">
                                    @item.PriceBuy.ToString("C")
                                </span> }
                            else
                            {
                                <span>@item.PriceBuy.ToString("C")</span>}
                            <br />
                            @if (item.IsBorrowable)
                            {
                                <strong>מחיר השאלה:</strong> @item.PriceBorrow.ToString("C")<br />
                                <strong>עותקים זמינים להשאלה:</strong> @item.AvailableCopies<br />
                            }

                        </p>
                        <div class="d-flex justify-content-between">
                            @Html.ActionLink("Edit", "Edit", new { id = item.BookId }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Details", "Details", new { id = item.BookId }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.BookId }, new { @class = "btn btn-danger btn-sm" })
                        </div>
                        <form action="@Url.Action("AddToCart", "CartItems", new { bookId = item.BookId })" method="post" class="mt-2">
                            @Html.AntiForgeryToken()

                            @{
                                // המרת המחרוזת של הגבלת הגיל למספר שלם
                                int requiredAge = 0; // ברירת מחדל אם אין הגבלת גיל
                                if (!string.IsNullOrEmpty(item.AgeRestriction) && item.AgeRestriction != "All Ages")
                                {
                                    int.TryParse(item.AgeRestriction.Replace("+", ""), out requiredAge);
                                }

                                // בדיקה אם המשתמש לא עומד בהגבלת הגיל
                                bool isAgeRestricted = requiredAge > 0 && ViewBag.UserAge < requiredAge;
                            }

                            @if (isAgeRestricted)
                            {
                                <!-- כפתור חסום במקרה שהמשתמש לא עומד בהגבלת הגיל -->
                                <button type="button" class="btn btn-secondary btn-sm w-100" disabled>
                                    אינך עומד בהגבלת הגיל
                                </button>
                            }
                            else
                            {
                                <!-- ספרים שלא ניתנים להשאלה -->
                                if (!item.IsBorrowable)
                                {
                                    <div class="mb-2">
                                        <label>בחר סוג עסקה:</label>
                                        <select name="transactionType" class="form-control" style="width: 60%;" required>
                                            <option value="buy">קנייה</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm w-100">
                                        הוסף לעגלת הקניות
                                    </button>
                                }
                                else
                                {
                                    <!-- ספרים שניתנים להשאלה וגם לרכישה -->
                                    <div class="mb-2">
                                        <label>בחר סוג עסקה:</label>
                                        <select name="transactionType" class="form-control" style="width: 60%;" required>
                                            <option value="buy">קנייה</option>
                                            <option value="borrow">השאלה</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm w-100">
                                        הוסף לעגלת הקניות
                                    </button>
                                }
                            }
                        </form>

                        @{
                            // המרת המחרוזת של הגבלת הגיל למספר שלם
                            int requireAge = 0; // ברירת מחדל אם אין הגבלת גיל
                            if (!string.IsNullOrEmpty(item.AgeRestriction) && item.AgeRestriction != "All Ages")
                            {
                                int.TryParse(item.AgeRestriction.Replace("+", ""), out requireAge);
                            }

                            // בדיקה אם המשתמש לא עומד במגבלת הגיל
                            bool isAgeRestrict = requiredAge > 0 && ViewBag.UserAge < requireAge;

                            // בדיקה אם הספר כבר נמצא בספרייה האישית של המשתמש
                            bool isInPersonalLibrary = ViewBag.UserLibraryBooks != null &&
                                                       ((List<int>)ViewBag.UserLibraryBooks).Contains(item.BookId);
                        }

                        @if (isAgeRestrict)
                        {
                            <!-- כפתור חסום במקרה שהמשתמש לא עומד במגבלת הגיל -->
                            <button type="button" class="btn btn-secondary btn-sm w-100" disabled>
                                אינך עומד בהגבלת הגיל
                            </button>
                        }
                        else if (isInPersonalLibrary)
                        {
                            <!-- כפתור חסום במקרה שהספר כבר בספרייה האישית -->
                            <button type="button" class="btn btn-secondary btn-sm w-100" disabled>
                                הספר כבר נמצא בספרייה האישית שלך
                            </button>
                        }
                        else
                        {
                            <!-- כפתור קנה עכשיו -->
                            <form action="@Url.Action("BuyNow", "Books", new { bookId = item.BookId })" method="post" class="mt-2">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-success btn-sm w-100">
                                    קנה עכשיו
                                </button>
                            </form>
                        }


                    </div>

                </div>
            </div>
        }
    </div>

</div>


<div class="container mt-5">
    <div>
        <h2>הוסף חוות דעת על השירות</h2>
    </div>
    @using (Html.BeginForm("AddServiceFeedback", "Books", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="Rating">דירוג (1-5):</label>
            <select name="Rating" class="form-control" style="width: 20%;" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Content">תוכן חוות הדעת:</label>
            <textarea name="Content" class="form-control" rows="4" placeholder="כתוב את חוות הדעת שלך כאן..." required></textarea>
        </div>
        <button type="submit" class="btn btn-success">שלח חוות דעת</button>}


</div>

<div class="container mt-4">
    <h2 class="text-center mb-4">מה המשתמשים חושבים על השירות שלנו</h2>
    <div class="row">
        @foreach (var feedback in ViewBag.ServiceFeedbacks)
        {
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">דירוג: @feedback.Rating/5</h5>
                        <p class="card-text">@feedback.Content</p>
                        <small class="text-muted">
                            פורסם על ידי: @(feedback.User != null ? feedback.User.Name : "משתמש לא ידוע") <br />
                            תאריך: @feedback.FeedbackDate.ToShortDateString()
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", () => {
        const messageBox = document.getElementById("message-box");
        if (messageBox) {
            setTimeout(() => {
                messageBox.style.display = "none";
            }, 3000); // הסתרה לאחר 3 שניות
        }
    });

    function addToCart(bookId) {
        fetch('/CartItems/AddToCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
            },
            body: JSON.stringify({ bookId: bookId }),
        })
            .then(response => response.json())
            .then(data => {
                // יצירת הודעה
                const alertDiv = document.createElement('div');
                alertDiv.className = data.success ? 'alert alert-success' : 'alert alert-danger';
                alertDiv.innerText = data.message;
                document.body.prepend(alertDiv);

                // הסרת ההודעה אחרי 3 שניות
                setTimeout(() => alertDiv.remove(), 3000);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('שגיאה בתקשורת עם השרת.');
            });
    }
</script>
